
nav{
    background-color: rgb(238, 241, 241);
    padding: 20px;
    border-color: rgb(68, 47, 88);
    border-width: 5px;
    border-style: solid;
    
}
li,h1,ul{
    display: inline;
}
ul{
    margin-left: 60%;
}
li{
color: rgb(9, 3, 10);
cursor: pointer;


}
li:hover{
    color: #ca1313;
}
.searchbar{
    width: 50%;
    padding: 10px;
    border-radius: 5px;
}
home{
    color: brown;
}
.hero {
    width: 100%;
    height: 100vh;
    background-image: url('scholarship-for-engineering-students.jpg');
    background-size: cover;
    background-position: center;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    padding: 20px;
}

.product {
    display: flex;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.product-image img {
    width: 300px;
    border-radius: 10px;
}

.product-details {
    margin-left: 30px;
}

.price {
    color: green;
    font-size: 24px;
    margin: 10px 0;
}

.description {
    margin: 15px 0;
}

input {
    width: 50px;
    padding: 5px;
    margin: 10px 0;
}

.buttons button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add-cart {
    background-color: orange;
    color: white;
}

.buy-now {
    background-color: green;
    color: white;
}
.container{
    border-width: 5px;
    border-color: rgb(53, 39, 80);
    border-style: solid;
}




